img {
    width: 100px;
    height: 150px; 
 }

.grid2 {
    
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(6, 1fr);
    grid-gap: 10px;
    margin: 90px 310px;
    justify-items: center;
}

.anew {
  position: absolute;
  top: 50px;
 left: 324px;
 }

.anew a {
    background: #1C7430;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    margin: 1px;
    padding: 1px;
    text-decoration: none;
    font-family: sans-serif;
}

.points {
  position: absolute;
  top: 50px;
  right: 325px;
  color: #FFFFFF;
  font-family: sans-serif;
  }

  var {
  font-style: normal;
  }
  
  